.names {
  background-color: $color-blue-dark;
}

.upper {
  background-color: $color-blue;
}

.lower {
  background-color: $color-red;
}

.total {
  background-color: $color-purple;
}

.hidden {
  display: none;
}