.u-names {
  background-color: $color-blue-dark;
}

.u-upper {
  background-color: $color-blue;
}

.u-lower {
  background-color: $color-red;
}

.u-total {
  background-color: $color-purple;
}

.hidden {
  display: none;
}