.scoresheet {
  margin-left: -1px;
  color: #f2f2f2;

  &__heading {
    position: absolute;
    left: 0;
    top: auto;
    width: 11rem;
    height: 2.8rem;
    margin-left: 1rem;

    text-transform: uppercase;
    font-size: 1.3rem;
    padding-top: .55rem;

    &--row {
      border-top: none;
    }

  }

  &__name {
    font-size: 1.2rem;
    width: 8rem;
    margin: 0 1rem;
  }

  &__cell {
    min-width: 10rem;
    max-width: 10rem;
    height: 2.8rem;
    text-align: center;
    font-size: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;

    &--key {
      text-transform: uppercase;
    }

    &--names {
      font-size: 1.5rem;
    }
  }
}

.button-container {
  padding-bottom: 1rem;
  text-align: center;
}

.table-container {
  overflow-x: scroll;
  height: 80%;
  margin-left: 11rem;
}