.button {
  border-radius: .5rem;
  padding: .8rem;

  font-size: 1.3rem;
  text-transform: uppercase;
  color: $font-color-light;
  font-weight: bolder;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  &:active {
    transform: scale(.95);
  }

  &--green {
    background-color: #209c20;
  }
}

