.btn {
  display: inline-block;
  border-radius: .5rem;
  padding: .8rem;
  margin: 0 .5rem;

  font-size: 1.3rem;
  text-transform: uppercase;
  color: $font-color-light;
  font-weight: bolder;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  &:active {
    transform: scale(.95);
  }

  &__score {
    color: $font-color-default;
    text-align: center;
    width: 4rem;
    height: 4rem;
    border: 3px solid $color-blue-dark;
    margin-bottom: .5rem;
  }

  &--default {
    background-color: $color-blue;
  }

  &--green {
    background-color: $color-green;
  }

  &--yellow {
    background-color: $color-yellow;
  }

  &--red {
    background-color: $color-red;
  }

  &--submit {
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
    width: 10rem;
  }
}

