*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  padding: 1rem;
  background-color: #eaeffa;
}

button {
  font-size: 1rem;
  font-family: inherit;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
}

table {
  border-spacing: 0px;
}

th {
  border: 1px solid #fff;
}

td {
  border: 1px solid #fff;
  border-top: none;
}

.heading--main {
  font-size: 3rem;
  color: #2e45a3;
  text-align: center;
  padding: 2rem 0;
}

.btn {
  display: inline-block;
  border-radius: .5rem;
  padding: .8rem;
  margin: 0 .5rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #f2f2f2;
  font-weight: bolder;
}

.btn:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.btn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.btn__score {
  color: #333;
  text-align: center;
  width: 4rem;
  height: 4rem;
  border: 3px solid #003d66;
  margin-bottom: .5rem;
}

.btn__score--del {
  width: auto;
  border: 3px solid #bd2a33;
}

.btn--default {
  background-color: #2e45a3;
}

.btn--green {
  background-color: #448214;
}

.btn--yellow {
  background-color: #D6AA0F;
}

.btn--red {
  background-color: #bd2a33;
}

.btn--submit {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  width: 10rem;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 61, 102, 0.5);
}

.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 1rem 2rem;
  margin: 0 auto;
  width: 80%;
  border-radius: 3px;
}

.popup__scores {
  text-align: center;
}

.popup__heading {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.popup__close {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 3rem;
}

.popup__close:hover {
  cursor: pointer;
}

.popup__submit {
  display: block;
  min-width: 10rem;
  margin: 0 auto;
  margin-top: 2rem;
}

.popup__text-box {
  font-size: 2rem;
  max-width: 75%;
}

.popup__radio {
  display: none;
}

.popup__radio:checked + .btn__score {
  background-color: #003d66;
  color: #f2f2f2;
}

.popup__radio:checked + .btn__score--del {
  background-color: #bd2a33;
}

.scoresheet {
  margin-left: -1px;
  color: #f2f2f2;
}

.scoresheet__heading {
  position: absolute;
  left: 0;
  top: auto;
  width: 11rem;
  height: 2.8rem;
  margin-left: 1rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  padding-top: .55rem;
}

.scoresheet__heading--row {
  border-top: none;
}

.scoresheet__name {
  font-size: 1.2rem;
  width: 8rem;
  margin: 0 1rem;
}

.scoresheet__cell {
  min-width: 10rem;
  max-width: 10rem;
  height: 2.8rem;
  text-align: center;
  font-size: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scoresheet__cell--key {
  text-transform: uppercase;
}

.scoresheet__cell--names {
  font-size: 1.5rem;
}

.button-container {
  padding-bottom: 1rem;
  text-align: center;
}

.table-container {
  overflow-x: scroll;
  height: 80%;
  margin-left: 11rem;
}

.u-names {
  background-color: #003d66;
}

.u-upper {
  background-color: #2e45a3;
}

.u-lower {
  background-color: #bd2a33;
}

.u-total {
  background-color: #5e2458;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=main.css.map */