*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
    background-color: $background-color;
}

button {
    font-size: 1rem;
    font-family: inherit;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}

table {
    border-spacing: 2px;
}